{% extends "base.html.twig" %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Données</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Données</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">
 <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Formulaire</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
             {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-5">
                         <div class="form-group">
                            <label>Indicateur <span style="color: red;">*</span> :</label>
                            {{ form_widget(form.indicateur, {'attr': {'class':'form-control select2bs4','placeholder':'Veuillez selectionner l indicateur', 'required':true} }) }}
                        </div>
                         </div>
                        <div class="col-md-7">
                        <br>
                        <br>
                        <div class="pull-right">
                          <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                        <!-- /.form-group -->
                        
                    </div>
                   
                    <!-- /.col -->
                </div>
                {{ form_end(form) }}
            </div>

        </div>
         {% if result == 0 %}
           {% else %}
          
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Données des CE</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Par région</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Par département</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill" href="#custom-tabs-three-messages" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">Par commune</a>
                  </li>
                 <!--  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-centre-tab" data-toggle="pill" href="#custom-tabs-three-centre" role="tab" aria-controls="custom-tabs-three-centre" aria-selected="false">Par centre</a>
                  </li> -->
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                   
                    <table id="tableau_bord_region" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Région</th>
                       <th>Indicateur</th>
                        <th>Année</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for centre in dataregion %}
                        <tr>
                            <td>{{ centre.region }}</td>
                            <td>{{ centre.indicateur }}</td>
                            <td>{{ centre.annee }}</td>
                            <td>{{ centre.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                <table id="tableau_bord_departement" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Région</th>
                        <th>Département</th>
                        <th>Indicateur</th>
                        <th>Année</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for centre in datadepartement %}
                        <tr>
                            <td>{{ centre.region }}</td>
                            <td>{{ centre.departement }}</td>
                            <td>{{ centre.indicateur }}</td>
                            <td>{{ centre.annee }}</td>
                            <td>{{ centre.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel" aria-labelledby="custom-tabs-three-messages-tab">
                <table id="tableau_bord_commune" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Région</th>
                        <th>Département</th>
                        <th>Commune</th>
                        <th>Indicateur</th>
                        <th>Année</th>
                       <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for centre in datacommune %}
                        <tr>
                            <td>{{ centre.region }}</td>
                            <td>{{ centre.departement }}</td>
                            <td>{{ centre.commune }}</td>
                            <td>{{ centre.indicateur }}</td>
                            <td>{{ centre.annee }}</td>
                            <td>{{ centre.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                  </div>
                  <!--
                  <div class="tab-pane fade" id="custom-tabs-three-centre" role="tabpanel" aria-labelledby="custom-tabs-three-centre-tab">
                <table id="tableau_bord_centre" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Région</th>
                        <th>Département</th>
                        <th>Commune</th>
                        <th>Centre</th>
                        <th>Indicateur</th>
                        <th>Année</th>
                        <th>Type centre</th>
                        <th>Zone</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for centre in datacentre %}
                        <tr>
                            <td>{{ centre.region }}</td>
                            <td>{{ centre.departement }}</td>
                            <td>{{ centre.commune }}</td>
                            <td>{{ centre.centre }}</td>
                            <td>{{ centre.indicateur }}</td>
                            <td>{{ centre.annee }}</td>
                            <td>{{ centre.typeCE}}</td>
                            <td>{{ centre.zoneCE }}</td>
                            <td>{{ centre.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                  </div>-->
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
 {% endif %}
{% endblock %}