{% extends "base.html.twig" %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Zone d'implementation du centre de l'état civil</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">ZoneImpCE</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <section class="content">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Formulaire de modification d'une zone d'implementation</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom <span style="color: red;">*</span> :</label>
                            {{ form_widget(form.nomZoneImpCE, {'attr': {'placeholder':'Nom de la zone d implementation du centre de l état civil', 'required':true} }) }}
                        </div>
                        <!-- /.form-group -->
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description :</label>
                            {{ form_widget(form.descriptionZoneImpCE, {'attr': {'placeholder':'Description de la zone d implementation du centre de l état civil'} }) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a href="{{ path('zoneImpce_liste') }}">
                            <button type="button" class="btn btn-danger ">Annuler</button>
                        </a>
                        <!-- /.form-group -->

                        <!-- /.form-group -->
                    </div>
                    {{ form_end(form) }}
                    <!-- /.col -->
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des zone d'implementations</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body" style="display: block;">
                {% for message in app.flashes('doublon') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('suppression') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('valider') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}

                <table id="table_zoneImpCE" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for zoneImpce in zoneImpces %}
                        <tr>
                            <td>{{ zoneImpce.id }}</td>
                            <td>{{ zoneImpce.nomZoneImpCE }}</td>
                            <td>{{ zoneImpce.descriptionZoneImpCE }}</td>


                            <td class="center">
                                <a href="{{ path('zoneImpce_modifier',{'id':zoneImpce.id}) }}">
                                    <button type="button" class="btn btn-outline-success btn-rounded"><i class="fa fa-edit"></i></button>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
        <!-- /.card -->

    </section>

{% endblock %}